---
title: Nodo Ambiental _zeta_
---



<div id="información-y-nexos" class="section level2">
<h2><em>Información y nexos</em></h2>
<p><strong>Para la preservación del ambiente y el desarrollo sostenible</strong></p>
<p><strong>Nodo Ambiental</strong> es una organización que colabora con el manejo de información y con redes de cooperación para la preservación del ambiente y el desarrollo sostenible.</p>
<p><strong>Nodo Ambiental</strong> es una Organización de la Sociedad Civil (OSC), no gubernamental (ONG), dirigida a otras organizaciones, escuelas y profesionales.</p>
</div>
<div id="buscamos" class="section level2">
<h2><em>Buscamos</em></h2>
<p>1 Colaborar en el desarrollo y ejecución de proyectos de pertinencia social y ambiental.</p>
<p>2 Difundir proyectos de salud ambiental, incluyendo aspectos sociales, educativos y lúdicos.</p>
<p>3 Desarrollar repositorios de información verificable.</p>
<div id="nuestra-visión" class="section level3">
<h3>Nuestra Visión</h3>
<p>Los problemas de salud humana y de bienestar social están embebidos en problemas de conservación de la naturaleza y del manejo de recursos naturales. La salud humana y ambiental, la salud de los servicios que brinda la naturaleza _-recursos naturales comunes o compartidos (aire, agua, suelo) que nos llegan como beneficios espontáneos de la naturaleza-_, son afectados por actividades humanas. El impacto individual de las actividades humanas parece bajo, pero sumados tienen efectos muy importantes sobre el bienestar social, la salud ambiental y humana.</p>
<p>Es por ello que la conjunción de mecanismos de articulación, desarrollo humano, desarrollo tecnológico, herramientas de cooperación entre organizaciones, espacios educativos, artísticos y multimedios, ayudan a encontrar soluciones prácticas en _entornos donde el tiempo es limitado_. Además, la verificación de la información difundida es clave para establecer bases sólidas para la realización y alcance de metas.</p>
<p>El desarrollo de nodos o sistemas de cooperación y articulación a distancia es una herramienta sólida para ayudar a que los proyectos de educación ambiental, conservación de la naturaleza y salud humana y ambiental, logren sus metas. Entre ellas, la reducción del impacto humano sobre el ambiente en que vivimos.</p>
</div>
<div id="nuestra-misión" class="section level3">
<h3>Nuestra Misión</h3>
<p>Desarrollar sistemas de cooperación entre Organizaciones de la Sociedad Civil (ONG), escuelas y profesionales, para la verificación de información y para la difusión, desarrollo y ejecución de proyectos de pertinencia social y ambiental.</p>
</div>
<div id="cómo-trabajamos" class="section level3">
<h3>Cómo trabajamos</h3>
<p>Proponemos un esquema de trabajo mutuamente verificable. A un primer proceso de contacto y formulación de objetivos, prosigue un esquema de interacción que termina con el alcance de metas.</p>
<div id="lemas" class="section level3">
<h3>Lemas</h3>
<p><em>La conservación de la naturaleza es nuestra salud</em></p>
<p><strong>Nodo Ambiental <em>zeta</em></strong>: estamos en período de prueba. Escriba a correonodoambiental@gmail.com si considera colaborar con nosotros. Le invitamos a poner a prueba nuestros <a href="/servicios/">servicios</a>.</p>
<p>La sección <a href="/acerca/">Acerca de</a> incluye los términos y condiciones del uso de datos.</p>
</div>
</div>
</div>
